body {
    background-color: #FEFAE0;
}

.üst {
    background-color: #FEFAE0;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.üst a {
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    float: left;
    font-weight: bold;
}

.üst a:hover {
    background-color: #F6F0E1;
    color: black;
}

.üst a.gecerli {
    background-color: #512013;
    color: white;
}

.temizle {
    clear: both;
}

.orta {
    margin: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.orta a.üst {
    margin: 20px;
}

.orta img.resim {
    padding-bottom: 30px;
}

.orta img.logo {
    padding-right: 3px;
}

.orta a.bosluk {
    padding: 25%;
}

.orta a.yazi {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(147, 152, 124);
    color: rgb(4, 13, 2);
}

.son {
    margin: 15px;
}

.son a.bosluk {
    padding-left: 25%;
}